<div class="ore flex-item">
    <h3 class="traitsheet-header">
        <div>{{localize "ORE.gen.point_pools"}}</div>
        <a class="item-create" title="Add Point Pool" data-type="point_pool"><i class="fas fa-plus-square"></i></a>
    </h3>
    <p>PLACEHOLDER</p>
</div>
