<div class="standard-form scrollable">
<form class="{{cssClass}} scrollable" autocomplete="off">
    <header class="ore sheethead">
        <div class="ore header-flexitem">
                <img class="profile-img" style="min-width:64px !important; min-height:64px !important" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
                <input class="ore charname" style="width:50%; vertical-align:top; background:#f1e9db;" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        </div>
    </header>
    <section class="sheetbody">        
                <!-- Horizontal Stats Row-->
                <div class="flexrow" style="justify-content:space-between; margin-bottom:6px; padding:6px 2px 6px; border-bottom:2px solid rgb(99, 96, 96)">
                    {{> 'systems/ore/templates/partials/stats-h.hbs'}}
                </div>

                <!--skills, qualities, hit location row-->
                <div class="flexrow" style="align-items:flex-start">
                    {{> 'systems/ore/templates/partials/skills.hbs'}}
                 {{> 'systems/ore/templates/partials/qualities.hbs'}}
                  {{> 'systems/ore/templates/partials/hitlocs.hbs'}}
            
                </div>

                <!-- weapons and metacurrency -->
                <div class="flexrow" style="align-items:flex-start">       
                    {{> 'systems/ore/templates/partials/weapons.hbs'}}
                    {{> 'systems/ore/templates/partials/pools.hbs'}}  
                </div>

                <!--inventory-->
                <div class="flexrow" style="align-items:flex-start">
                    {{> 'systems/ore/templates/partials/equipment.hbs'}} 
                    
                </div>
    </section>
</form>
</div>

