<form class="{{cssClass}}" autocomplete="off">
    <header class="ore sheethead">
        <div class="ore header-flexitem">
           <img src="{{img}}" data-edit="img" title="{{name}}" height="24" width="24"/>
        </div>
        <div class="ore header-flexitem name-block">
            <div class="charname">
                <input style="color:white; display:inline;" name="name" type="text" value="{{name}}"/>
            </div>
    </header>
</form>